body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.wrapper {
	width: 65%;
	margin: 0 auto;
}

.header {
	/*letter-spacing: -10px;*/
	font-size: 5em;
	line-height: 1em;
	margin: 0 0 35px 0;
	text-align: center;
}

li {
	list-style-type: none;
}

.menu {
	width: 80%;
	margin: 0 auto;
}

.menu-item {
	text-align: center;
	width: 25%;
	float: left;
	font-size: 22px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.last {

}

.active {
	opacity: 1;
}


.menu-item img {
	width: 20%;
	display: block;
	margin: 0 auto;
}

.content {
	width: 100%;
	margin: 25px 0 0 0;
}

.section-content {
	display: none;
	width: 76%;
	margin: 0 auto;
}

@media screen and (max-width: 960px) {
	.wrapper {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.section-content {
		width: 80%;
	}
}

@media (max-width: 490px) {
	.header {
		font-size: 76px;
	}
}

@media (max-width: 400px) {
	.header {
		font-size: 70px;
	}
}

@media (max-device-width: 1024px) {
	.header {
		font-size: 9em;
	}
	.wrapper {
		width: 100%;
	}
	.menu-item img {
		width: 40%;
	}
	.menu-item {
		font-size: 2.5em;
	}
	.section-content {
		width: 86%;
		margin: 0 auto;
	}
}
@media (max-device-width: 640px) {

}
@media (max-device-width: 540px) {

}
@media (max-device-width: 320px) {

}