<p>A social/collaborative/community blog network.</p>
<p>Journal is a blog/community application built on the Django Python web framework.  It was an experiment to create a smaller network of people that would communicate using text, images, audio and video.  Further implementation would be to have different communities for different interest groups, each posting different specific material.  Journal allowed private posting with the intention of keeping a journal of activity that could be partially public and partially private.</p>
<p>Journal is no longer maintained and was never implemented in a large scale.  It was an experiment, as are all of these projects.</p>

<div class="link">
	<a href="https://github.com/drewbharris/journal">source</a><br>
	<!--<a href="http://weaimforauthentic.com/journal/">weaimforauthentic.com/journal</a><br>-->
</div>
