<p>Visual music performance accompaniment with MIDI and an Arduino, built for the Germany Germany live performance.</p>
<p>Four boxes lined with ultrabright white LEDs are connected to the lightarray controller, a box containing an Arduino and switching transistors to amplify output signals.  MIDI control change messages (serial data) dictating a four-channel light pattern are passed from Ableton Live on a connected computer to the lightarray controller.  The lightarray controller draws each channel's pattern to each of the four LED lightboxes using pulse width modulation (PWM) amplified by transistors.</p>
<p>This project has been presented multiple times at different locations in New York City, including Glasslands Gallery in Brooklyn.</p>

<div class="link">
	<a href="http://vimeo.com/35853929">video</a><br>
	<a href="http://www.youtube.com/watch?v=7cs68KK5B50">video (nsfw language)</a>
</div>