<p>A small project, intended as an experiment to determine feasiblity.  Livectl is a node.js application to link audio performance and processing software over networked computers using WebSockets.</p>
<p>A server instance of livectl is run on a central server.  Client instances connect to the server and present their MIDI inputs and outputs.  Currently, all messages are broadcast to all clients, but a patchable web interface was planned.  Unforunately, the latency was found to be too unpredictable for live keyboard performance, though patching of audio applications such as Ableton Live worked well.  This may be useful in a multi-computer electronic performance.  This project is still a work in progress.</p>

<div class="link">
	<a href="http://github.com/drewbharris/node-livectl">source</a>
</div>
