<p>A weekend project to learn the Flask Python web framework.</p>
<p>Photos are batch uploaded in a zip file, which is extracted and parsed in the Python web application.  Information about each image is retrieved during view using an AJAX request.</p>

<div class="link">
	<a href="https://github.com/drewbharris/flask_gallery">source</a><br>
	<!--<a href="http://photos.drewbharris.com">photos.drewbharris.com</a><br>-->
</div>
