<p>Real-time mixtape/playlist creation/collaboration/sharing tool, written in JavaScript with node.js on the back end and Backbone.js on the front end.  My first attempt at a full JavaScript application.</p>
<p>The application relies on exfm's audio stream database and uses a WebSocket to maintain an open connection between client and server.  When a client makes a change to a playlist (add song, change order, change title), the changes to propagated through to all connected clients.  This project is a work in progress and is currently in the 'alpha' stage.</p>

<div class="link">
	<a href="https://github.com/sharedtapes">public repository</a><br>
	<a href="http://sharedtapes.com">sharedtapes.com</a><br>
</div>
