<p>Visual music performance accompaniment with openFrameworks and iOS, built for the Germany Germany live performance.</p>
<p>ViLA, Virtual Light Array, is the mobile companion to lightarray.  Written in C++ with the openFrameworks toolkit, ViLA is my first iOS application.  Similar to light array, ViLA receives a light pattern in real-time through UDP network broadcast packets.  The light patterns are created in Ableton Live in the same way as the patterns for the physical lightarray installation.</p>
<p>The application works well with minimal latency on an adhoc network, but UDP packets are dropped frequently when on a public wireless router.</p>

<div class="link">
	<a href="http://grmnygrmny.tumblr.com/post/31617653233">video</a><br>
	<a href="https://itunes.apple.com/tr/app/vila/id556134981?mt=8">app store link</a>
</div>